.container-fluid.documents
	.row-fluid
		#left.outline-view.span3
			#controls.toolbar.btn-group-wrap
				.btn-group
					a#create-document.btn(href='/documents/new') + 
					a#delete-document.btn.btn-danger(href='#') - 
					a#save-button.btn(href='#') Save 
					a#html-button.btn(href='#') HTML 
			#DocumentTitles
				ul#document-list.nav.nav-tabs.nav-stacked
					li#document-row-template(style='display:none')
						a(id='document_{{id}}') {{ title }}
		.content.span9
			#html-container(style='display:none')
			#editor-container
				div.title
					input.title(name='d[title]')= d.title
				textarea#editor(name='d[data]')
