.container-fluid
	.row-fluid
		.span5#login-form-container
			form.users.form-horizontal#login(method='post', action='/sessions')
				fieldset
					legend Log In
						a.btn.pull-right(href='/users/new') Create an account &rarr;
					!=partial('../users/fields', { locals: { user: user} })
					.control-group
						label(for='remember_me') 
						.controls
							label.checkbox Remember me
								input#remember_me(type='checkbox', name='remember_me')
					.form-actions
						button.btn.btn-primary(type='submit') Log In
