.container-fluid
	.row-fluid
		.span5#register-form-container
			form.users.form-horizontal(method='post', action='/users')
				fieldset
					legend Register
						a.btn.pull-right(href='/sessions/new') Log In
					!=partial('fields', { locals: { user: user } })
					.form-actions
						button.btn.btn-primary(type='submit') Register
